<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
   <router id="standard">
      <route id="otp_register" frontName="otp_register">
         <module name="Create_OtpRegister"/>
      </route>
    </router>
</config>
